<div class="about-container">
    <div class="about-title">
        Добро пожаловать в магазин  Four esthetics
    </div>
    <div class="about-image">
        <img class="image-pages" src="assets/images/about.jpg">
    </div>
    <div class="about-description">      
 Фокус нашей работы  - это практический опыт.  Попытка обьединить мудрость  старой школы эстетической косметологии с  верностью  красоте и натуральности  и новейшие  клинические  ноу-хау, прогрессивные методики и результаты.
Мы рады представить Вам лучшие продукты, представленные в мире эстетической косметологии, дерматологии и трихологии.
    </div>
</div>
