<div class="background">
  <!-- <app-navigation-header [title]="title"
                         [logoSrc]="logoSrc">
  </app-navigation-header> -->
  <div class="header-navigation-container">
    <div class="header-navigation-items"><app-menu></app-menu></div>
    <div class="header-navigation-items">
        <img width="60" height="60" alt="Logo" src='./../../../../../assets/icons/logo.png'>
    </div>
    <div class="header-navigation-items">
        <mat-icon>shopping_cart</mat-icon>
    </div>
  </div>
  <app-carousel></app-carousel>
</div>
